@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.drawer_step2 :where(.css-dev-only-do-not-override-pr0fja).ant-table-wrapper .ant-table-tbody>tr>td {
  padding: 4px;
}

.drawer_step2 .table_step2 .camp_list_items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}

.drawer_step2 .ant-drawer-body {
  padding: 0 24px !important;
}

.drawer_step2 .table_step2 .camp_list_items li{
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
}

.drawer_step2 .table_step2 .camp_list_items li .camp_item--label{
  color: #000;
  font-weight: 700;
  width: 150px;
  display: inline-block;
}

.btn__create--post {
  background-color: #ff8831 !important;
  margin-left: 8px;
}

.btn__create--camp {
  background-color: green !important;
  color: #fff;
}

.camp_type {
  width: calc(100% - 150px);
}

.msg_success {
  color: green;
}

.msg_fail {
  color: red
}